<div class="container is-fluid">
  <div class="notification">

<h3> Edit Profile </h3>

<%= flash[:message]  if flash[:message]%>

<%= form_for(current_admin) do |f| %>

<%= f.label :name %>
<%= f.text_field :name%><br><br>

<%= f.label :email %>
<%= f.email_field :email%><br><br>

<%= f.label :password %>
<%= f.password_field :password%><br><br>

<%= f.submit "Submit" %>

<% end %>

</div>
</div>