<h1>Admin Sign Up</h1>

<h3><strong>Warning - This is an admin only sign up. DO NOT SIGN UP IF YOU ARE NOT PLANNIND ON RUNNING A TEAM</strong></h3>

<%= form_for(@admin) do |f| %>

<%= f.label :name %>
<%= f.text_field :name%><br><br>

<%= f.label :email %>
<%= f.email_field :email%><br><br>

<%= f.label :password %>
<%= f.password_field :password%><br><br>

<%= f.submit "Sign Up", :class => "button is-dark" %>

<% end %>
<br>
<div class="buttons">
<%= link_to "Sign Up with Google", '/auth/google_oauth2', :class => "button is-dark" %>
</div>