<h1>Welcome <%= current_admin.name %></h1><br><br><br>

<big><h1>This is your Team</h1></big>
<br>
<ul>
<% user = current_admin.users.alpha %>
<% user.each do |user| %>

<li><strong><%= link_to user.name, user_path(user.id) %></strong> - <%= user.id %> </li>
<%= link_to 'Edit', edit_user_path(user.id) %><br>

<% end %>
</ul>
<br><br><br><br><br><br>
<%= link_to 'Edit Profile', edit_admin_path(current_admin) %>

