<h1>Edit New Group</h1>

<%= form_for(@group) do |f| %>

<%= f.label "Group Name" %> <br> <br>
<%= f.text_field :title %>  <br>

<%= f.submit "Submit" %>

<% end %>

<br> <br>
<%= link_to 'Delete', @group, method: :delete, data: { confirm: 'Are You Sure?' } %>