<div class="container is-fluid">
  <div class="notification">

<h1>Edit New Group</h1>

<%= flash[:message]  if flash[:message]%>

<%= form_for(@group) do |f| %>

<%= f.label "Group Name" %> <br> <br>
<%= f.text_field :title %>  <br>

<%= f.submit "Submit" %>

<% end %>

<br> <br>
<%= link_to 'Delete', @group, method: :delete, data: { confirm: 'Are You Sure?' } %>

<div class="container is-fluid">
  <div class="notification">