<div class="container is-fluid">
  <div class="notification">

<h1> Groups </h1>

<br><br>
<% if admin_logged_in? %>

	<% if current_admin.groups.empty? %>
		
		<h1>You have no groups</h1>
		
	<% else %>
		<ul>
		<% @group.each do |g| %>
			<li><strong><%= g.title %></strong></li>
				<li><%= link_to 'Group Profile', admin_group_path(current_admin, g.id) %></li>
				<li><%= link_to 'Edit Group', edit_group_path(g.id) %></li>
				<li><%= link_to 'Add Task', new_group_task_path(g.id) %></li>
		<% end %>
		</ul>
	<% end %>

<%elsif logged_in?%>

	<% if current_user.tasks.empty? %>
		
		<h1>You have no groups</h1>
		
	<% else %>
		<ul>
		<% @group.each do |g| %>
			<li><strong><%= g.title %></strong></li>
				<li><%= link_to 'Group Profile', user_group_path(current_user, g.id) %></li>
		<% end %>
		</ul>
	<% end %>
<% end %>

</div>
</div>









