<% if admin_logged_in?%>


<h1>This is <%= @group.title %>'s profile</h1>
<br><br>
<div class="columns">
  <div class="column">
  	<div class="container is-fluid">
  <div class="notification">
  	<strong><%= @group.title %>'s Tasks </strong><br><br>
<% @tasks = @group.tasks.order_by_due_date %>  	
<% @tasks.each do |t| %>
	<strong>Task: </strong><%= t.content %><br>
	<strong>Issued to: </strong><%= t.user.name %><br>
	<strong>Due Date: </strong><%= t.duedate %><br>
	<%= link_to 'Edit', edit_task_path(t.id) %><br>
	<br><br>
<% end %>
</div>
</div>
</div>
<div class="column">
	<div class="container is-fluid">
  <div class="notification">
<strong><%= @group.title %>'s Nags </strong><br><br>
<% @nags = @group.nags.date_reversed %>
<% @nags.each do |n| %>
	<li><%= n.content %> - <%= n.created_at %> - <%= n.creator.try(:name) %></li><br>
<% end %>
</div>
</div>
</div>
</div>




<% else %>

<h1>This is <%= @group.title %>'s profile</h1>
<br><br>
<div class="columns">
  <div class="column">
  	<div class="container is-fluid">
  <div class="notification">
  	<strong><%= @group.title %>'s Tasks </strong><br><br>
<% @tasks = @group.tasks.order_by_due_date %>
<% @tasks.each do |t| %>
	<strong>Task: </strong><%= t.content %><br>
	<strong>Issued to: </strong><%= t.user.name %><br>
	<strong>Due Date: </strong><%= t.duedate %><br>
	<br><br>
<% end %>
</div>
</div>
</div>

  <div class="column">
  	<div class="container is-fluid">
  <div class="notification">
  	<% @nags = @group.nags.date_reversed %>
  	<strong><%= @group.title %>'s Nags </strong><br><br>
<% @nags.each do |n| %>
	<li><%= n.content %> - <%= n.created_at %> - <%= n.creator.try(:name) %></li><br>
<% end %>
</div>
</div>
</div>
</div>

<% end %>