<% if admin_logged_in?%>

<h1>Edit <%= @user.name %>'s Profile</h1>

<%= form_for(@user) do |f| %>

<%= f.label :name %>
<%= f.text_field :name%><br><br>

<%= f.label :email %>
<%= f.email_field :email%><br><br>

<%= f.label :password %>
<%= f.password_field :password%><br><br>

<%= f.submit "Submit" %>
<br><br><br><br>
<%= link_to 'Delete', @user, method: :delete, data: { confirm: 'Are You Sure?' } %>
<% end %>

<% else %>

<h1> Edit Your Profile </h1>

<%= form_for(@user) do |f| %>

<%= f.label :name %>
<%= f.text_field :name%><br><br>

<%= f.label :email %>
<%= f.email_field :email%><br><br>

<%= f.label :password %>
<%= f.password_field :password%><br><br>

<%= f.submit "Submit" %>

<% end %>

<% end %>




