<h1> Edit Nag </h1> <br> <br>
	<%= flash[:message]  if flash[:message]%>
<% if admin_logged_in? %>

<%= form_for(@nag) do |f| %>

<%= f.label "WhatchaDoin?" %> <br> <br>
<%= f.text_area :content, :cols => 90, :rows => 6 %>  <br>

<%= f.label "Task:" %>
<%= f.collection_select(:task_id, current_admin.tasks.all, :id, :content) %>

<%= f.submit "Submit" %>

<div class="buttons">

<%= link_to 'Delete', @nag, :class => "button is-dark", method: :delete, data: { confirm: 'Are You Sure?' } %>

</div>

<% end %>
<% else %>

<%= form_for(@nag) do |f| %>

<%= f.label "WhatchaDoin?" %> <br> <br>
<%= f.text_area :content, :cols => 90, :rows => 6 %>  <br>

<%= f.label "Task:" %>
<%= f.collection_select(:task_id, current_user.tasks.all, :id, :content) %>

<%= f.submit "Submit" %>

<div class="buttons">

<%= link_to 'Delete', @nag, :class => "button is-dark", method: :delete, data: { confirm: 'Are You Sure?' } %>

</div>

<% end %>
<% end %>