<h1>All Nags</h1>

<% if admin_logged_in? %>

	<% if current_admin.nags.blank? %>

    <h2>No nags yet. Write a nag <%= link_to "here", new_nag_path%></h2>

	<% else %>

  <ul>
		<% @nags.each do |nag| %>

			<li><%= nag.content %> - <%= nag.created_at %> - <%= nag.creator.try(:name) %></li>

		<% end %>
	</ul>

	<% end %>

<% else %>

	<% if current_user.nags.blank? %>

    <h2>No nags yet. Write a nag <%= link_to "here", new_nag_path%></h2>

	<% else %>
  <ul>
		<% @nags.each do |nag| %>

			<li><%= nag.content %> - <%= nag.created_at %> - <%= nag.creator.try(:name) %></li>

		<% end %>
	</ul>


	<% end %>

<% end %>