<!DOCTYPE html>
<html>
  <head>
    <title>Whatchadoin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    
   <!--    <img src="whatchadoin_logo.png" width="200" height="30"> -->
    

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <% if admin_logged_in?%>
          <%= link_to("Home", root_path, :class => "navbar-item") %>
          <%= link_to("Profile", admin_path(current_admin), :class => "navbar-item") %>
          <%= link_to("My Nags", admin_nags_path(current_admin), :class => "navbar-item") %>
          <%= link_to("Tasks", admin_tasks_path(current_admin), :class => "navbar-item") %>
          <%= link_to("Groups", admin_groups_path(current_admin), :class => "navbar-item") %>
      <% elsif logged_in? %>
          <%= link_to("Home", root_path, :class => "navbar-item") %>
          <%= link_to("My Nags", user_nags_path(current_user), :class => "navbar-item") %>
          <%= link_to("Profile", user_path(current_user), :class => "navbar-item") %>
          <%= link_to("Groups", user_groups_path(current_user), :class => "navbar-item") %>
          
      <% else %>
          <%= link_to("Home", root_path, :class => "navbar-item") %>
      <% end %>

      <% if admin_logged_in? || logged_in? %>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>
           <div class="navbar-dropdown">
              <% if admin_logged_in?%>
              <%= link_to("New Nag", new_admin_nag_path(current_admin), :class => "navbar-item") %>
                <%= link_to("New Group", new_admin_group_path(current_admin), :class => "navbar-item") %>
                <%= link_to("New User", new_admin_user_path(current_admin), :class => "navbar-item") %>
                <% elsif logged_in? %>
                <%= link_to("New Nag", new_user_nag_path(current_user), :class => "navbar-item") %>
              <% end %>

          </div>
        
        </div>
      <% end %>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if logged_in? || admin_logged_in?%>
          <%= link_to("Logout", logout_path, :class => "button is-dark", :method => "delete") %>
          <%else%>
          <%= link_to("Sign Up", signup_path, :class => "button is-light") %>
          
          <%= link_to("Login As User", login_path, :class => "button is-info") %>
          <%= link_to("Login As Admin", '/adminlogin', :class => "button is-dark") %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>

    <%= yield %>
  </body>
</html>
